.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.selections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.map {
  width: 60vw;
  height: 70vh;
}
